
@{
    var cate = (List<phoneShop.ViewModels.Catalog.Categories.CategoryViewModel>)ViewBag.CategoryList;
    var cart = (List<phoneShop.WebApp.Models.CartItems>)ViewBag.Cart;

   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>@ViewData["Title"] - WebSite-Điện Thoại</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

   
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/style.css" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a asp-action="Index" asp-controller="Home" class="logo">
                                <img src="/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->

                    <div class="col-md-6">
                        <div class="header-search">
                            <form asp-action="Index" asp-controller="Product">
                                <select class="input-select" name="categoryId">
                                    <option value="">Danh mục</option>
                                   
                                    @foreach (var item1 in cate)
                                    {
                                        <option value="@item1.Id">@item1.Name</option>
                                    }
                                </select>
                                <input class="input" value="@ViewBag.Keyword" name="Keyword" placeholder="Search here">
                                <button class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>

                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <div class="qty">@cart.Count</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        @foreach (var item in cart)
                                        {
                                            <div class="product-widget">
                                                <div class="product-img">
                                                    <img src="@ViewBag.Url@item.ImagePath" asp-append-version="true" style="width:60px; height:60px;" alt="">
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-name"><a href="#"> @item.Name_Phone </a></h3>
                                                    <h4 class="product-price"><span class="qty">@item.Quantity x</span>$@item.Price.ToString("0.##") </h4>
                                                </div>
                                                <button class="delete"><i class="fa fa-close"></i></button>
                                            </div>

                                        }
                                    </div>
                                    <div class="cart-summary">
                                        <small>@cart.Count : Sản phẩm đã chọn </small>                                                                                    
                                        <h5>Tổng tiền : @ViewBag.total.ToString("0.##") </h5>
                                       
                                    </div>
                                    <div class="cart-btns">
                                        <a asp-action="Index" asp-controller="Cart">
                                            Xem giỏ hàng 
                                        </a>
                                        <a asp-controller="Cart" asp-action="Payment">
                                            Thanh toán
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li><a asp-action="Index" asp-controller="Home">Trang Chủ</a></li>
                    <li><a asp-action="Index" asp-controller="Product">Sản phẩm</a></li>
                    <li><a asp-action="Index" asp-controller="Cart">Giỏ hàng</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                @RenderBody()

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer">
                            <h3 class="footer-title">Thông Tin Về Chúng Tôi</h3>
                            <p>Cung cấp sản phẩm điện thoại chính hãng</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>687 LÊ Hồng Phong</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>0906567656</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->       
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/main.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
