@model IEnumerable<phoneShop.ViewModels.Catalog.Categories.CategoryViewModel>

@{
        ViewData["Title"] = "Index";
 }

    @section Scripts{
        <script>
            setTimeout(function () {
                $('#msgAlert').fadeOut('slow');
            }, 2000);</script>
    }

    <div class="container-fluid">
        <h1 class="mt-4">Danh sách danh mục sản phẩm</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách danh mục sản phẩm</li>
        </ol>
        <div class="card mb-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <a class="btn btn-success" asp-action="Create" asp-controller="Category">Tạo mới</a>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    @if (ViewBag.SuccessMsg != null)
                    {
                        <div id="msgAlert" class="alert alert-success" role="alert">
                            @ViewBag.SuccessMsg
                        </div>
                    }
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:auto; text-align:center; vertical-align:middle;">
                                    Id
                                </th>
                                <th style="width:auto; text-align:center; vertical-align:middle;">
                                    Tên danh mục
                                </th>
                                <th style="width:auto; text-align:center; vertical-align:middle;">
                                    Thứ tự sắp xếp
                                </th>
                                <th style="width:auto; text-align:center; vertical-align:middle;">
                                    Thứ tự danh mục cha
                                </th>
                                <th style="width:auto; text-align:center; vertical-align:middle;">
                                   
                                </th>
                                
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:auto; text-align:center; vertical-align:middle;">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td style="width:auto; text-align:center; vertical-align:middle;">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td style="width:auto; text-align:center; vertical-align:middle;">
                                        @Html.DisplayFor(modelItem => item.SortOrder)
                                    </td>
                                    <td style="width:auto; text-align:center; vertical-align:middle;">
                                        @Html.DisplayFor(modelItem => item.ParentId)
                                    </td>
                                    <td style="width:auto; text-align:center; vertical-align:middle;">
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |                                      
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
