@using phoneShop.ViewModels.Common
@model PagedResult<phoneShop.ViewModels.Catalog.Products.ProductViewModel>
@{
    ViewData["Title"] = "Index";

    var categoryList = (IEnumerable<phoneShop.ViewModels.Catalog.Categories.CategoryViewModel>)ViewBag.CategoryList;
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);</script>
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:auto; text-align:center; vertical-align:middle;">
                                Id
                            </th>
                            <th style="width:auto; text-align:center; vertical-align:middle;">
                                Tên sản phẩm
                            </th>
                            <th style="width:auto; text-align:center; vertical-align:middle;">
                                Hình ảnh sản phẩm
                            </th>                           
                            <th style="width:10px; text-align:center; vertical-align:middle;">
                                Danh mục sản phẩm
                            </th>
                            <th style="width:auto; text-align:center; vertical-align:middle;">
                                Giá tiền
                            </th>
                            <th style="width:auto; text-align:center; vertical-align:middle;">
                                Giá tiền khuyến mãi
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td style="width:20px; text-align:center; vertical-align:middle;">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td style="width:120px; text-align:center; vertical-align:middle;">
                                    @Html.DisplayFor(modelItem => item.Name_Phone)
                                </td>
                                <td style="width:200px; text-align:center; vertical-align:middle;">
                                    <img class=" img-thumbnail " src=" @ViewBag.Url@item.ImagePath" asp-append-version="true" />
                                    <div>
                                        @Html.ActionLink("Danh sách ảnh", "ListImage", new { id = item.Id })
                                    </div>
                                </td>                               
                                <td style="width:10px; text-align:center; vertical-align:middle;">
                                    @using (Html.BeginForm("CreateInCategory", "Category", new { productId = item.Id }, FormMethod.Post))
                                    {
                                        <select name="categoryId" >
                                            @foreach (var item1 in categoryList.ToList())
                                            {                                             
                                                <option value="@item1.Id" >@item1.Name</option>
                                            }
                                        </select>
                                        <input style=" margin-top:10px; " type="submit" value="Thêm vào danh mục" />
                                    }
                                </td>


                                <td style="width:120px; text-align:center; vertical-align:middle;">
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td style="width:120px; text-align:center; vertical-align:middle;">
                                    @Html.DisplayFor(modelItem => item.Promotion_Price)
                                </td>
                                <td style="width:170px; text-align:center; vertical-align:middle;">
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Xem", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    @await Component.InvokeAsync("Pager", Model)
                </div>
            </div>
        </div>
    </div>
</div>